*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: rgb(37, 37, 37);
}
.display{
    background-color: rgb(37, 37, 37);
    width: 100%;
    height: 25vh;
    font-size: 50px;
    display: flex;
    color: white;
    justify-content: start;
    align-items: center;
    padding: 20px;
    padding-left: 30px;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    text-align: center;
}
.button{
    padding: 20px;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
    font-weight: 500;
    background-color: rgba(128, 128, 128, 0.473);
    border: none;
    margin-left: 5px;
}
.backspace{
    padding: 10px;
    border-radius: 20%;
    width: 70px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    background-color: transparent;
    border: none;
    margin-right: 15px;
    margin-top: 45px;
}

.fa-solid{
    color: green;
    font-size: 30px;
    padding-bottom: 10px;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 20px;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.473);
}